.container{
   margin: 20px;

    
}
.button{
    padding: 10px 15px;
    color: white;
    text-transform: capitalize;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: #e84837ef;
}
.button:hover{
    background-color: white;
    border: 3px solid #e84837ef;
    color: black;
}