
.texte{
    background-color: white;
    max-width: 80%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: auto;
}
.logo{
    margin-bottom: -30px;
}
.title{
    padding: 20px;
}
@media screen and (max-width: 750px) {
    .texte{
        height: auto;
        width: 90%;
    }
    .title{
        padding: 5px;
    }
}
